@fa-font-path:   "../fonts/less/variables.less";

@media print {
  @page {
    size: 370mm 480mm;
    /*size: 215.9mm 279.4mm; */
    /*leter*/

    /*size: 330mm 427mm;*/
    margin: 0mm;
  }
  .container {
    width: 1170px;
  }
  .options{
    display: none;
  }
}
.container-fluid {
     padding-right: 0px; 
     padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}
.blackback{background-color: black !important;}
.whiteback{background-color: white !important;}
.consolas{font-family: consolas; font-size: 12px;}
.CopperplateLight{font-family: CopperplateLight;}
.CopperplateBold{font-family: CopperplateBold;}
@font-face {
    font-family: consolas;
    src: url(consolas.ttf);
}
@font-face {
    font-family: CopperplateLight;
    src: url(Copperplate Gothic Light Regular.ttf);
}
@font-face {
    font-family: CopperplateBold;
    src: url(Copperplate Gothic Bold Regular.ttf);
}
.title{font-size: 47px; color: white;}
.subtitle{font-size: 40px}
.mayus{text-transform: uppercase;}
.whitetext{color:white !important;}
.bolder{font-weight:bolder;}
.carnet{padding: 20px;}
.hr1{    border-top: 2px solid blue;
 margin-top: 20px;
    margin-bottom: 20px;}
hr{  

    margin-top: 5px;
    margin-bottom: 5px;
}
.bluetext{color: blue !important;}
.greentext{color: green !important;}
.redtext{color:red !important;}
/*.email{color:text}*/
.aboutme{color: #fff !important; text-align: left;}
.font12{font-size: 15px;}
.logo{    padding-bottom: 25px;
    margin-top: -52px;
  margin-left: 18px;}
.date{    font-size: 33px;
    margin-top: -20px;}
.profession{font-size: 27px;}
.email{font-size: 20px;}
.contact{    margin-top: -23px;}
.d90{-webkit-transform: rotate(-90deg);

-moz-transform: rotate(-90deg);
}
@media print {
body {-webkit-print-color-adjust: exact;}
}
/*
@media print {


    .blackback{
      background-color: black;
        -webkit-print-color-adjust: exact; 
    }
    .whiteback{background-color: white;
        -webkit-print-color-adjust: exact; 
    }

}*/
.socialicons > h4{
  margin-top: 0px;
    margin-bottom: 0px;
}