<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{'TITLE' | translate}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="ctrl">
    <div class="options">
       <p><a href="#" ng-click="setLang('en_US')">English</a>|<a href="#" ng-click="setLang('es_ES')">Español</a></p>
    </div>
  <h1></h1>
<!-- Languages:
Spanish (Competition bilingual or native)
English (basic competency professional)
Portuguese (basic competence) -->

  <div class="container-fluid blackback">
    <div class="row">
      <div class="col-sm-10">
   
      <h1 class="title text-right   CopperplateLight mayus whitetext bolder">   Curriculum Vitae</h1>
      <h1 class="subtitle text-right CopperplateLight  whitetext">Summary</h1>
      <hr class="hr1">
      <h3 class="text-right consolas bluetext mayus date"> september 2016</h3>
      </div>
      <div class="col-sm-2">
      <img class="img-responsive carnet" src="img/foto.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"> 
      <img class="img-responsive logo" src="img/logoladoiz.png" alt="">
      </div>
      <div class="col-sm-6 whitetext socialicons">
      <h4><i class="fa fa-facebook-official fa-md"></i>  <a class="whitetext" href="https://www.facebook.com/oteroweb">https://www.facebook.com/oteroweb</a></h4>
      <h4><i class="fa fa-twitter-square fa-md"></i> <a class="whitetext" href="https://twitter.com/OteroWeb1">https://twitter.com/OteroWeb1</a></h4>
      <h4><i class="fa fa-linkedin-square" ></i> <a class="whitetext" href="https://ve.linkedin.com/in/oteroweb/en">https://ve.linkedin.com/in/oteroweb/en</a> </h4>
      <h4><i class="fa fa-github-square" ></i> <a class="whitetext" href="https://github.com/oteroweb">https://github.com/oteroweb</a> </h4>
      <!-- <h3><i class="fa fa-camera-retro fa-md"></i> </h3> -->
      <!-- <h3><i class="fa fa-camera-retro fa-md"></i> </h3> -->
      <!-- <h3><i class="fa fa-camera-retro fa-md"></i> </h3> -->
      <!-- <h3><i class="fa fa-camera-retro fa-md"></i> </h3> -->
      </div>
      <div class="col-sm-3 contact"> 
      <h3 class="consolas text-left greentext  profession">Developer Full Stack </h3>
      <h4 class="consolas text-left redtext email">Oterolopez1990@gmail.com</h3>
      </div>
    </div>
    <div class="col-sm-10 whiteback consolas">
<h4 class="text-center">Education</h4> <hr>
<p>Sixth semester system engineering in system in the University National Experimental Polytechnic of Armed Force Bolivariana, 2007 - 2010
 </p>
<h4 class="text-center">Certifications</h4> <hr>
<div class="row">
  
<div class="col-sm-5">Course</div>
<div class="col-sm-2">Period</div>
<div class="col-sm-5">Description</div>
</div>
<div class="row">
  
<div class="col-sm-5">Certification Frontend Developer</div>
<div class="col-sm-2">june 2016</div>
<div class="col-sm-5">Course Online in the plataform Free Code Camp Link: <a href="https://www.freecodecamp.com/oteroweb">https://www.freecodecamp.com/oteroweb</a> </div>
</div>
<div class="row">
  
<div class="col-sm-5">English:
EF Education First</div>
<div class="col-sm-2">May 2016</div>
</div>
<div class="col-sm-5">EF Education First is a Course Online Of English</div>
<div class="row">
  
<div class="col-sm-5">Duolingo</div>
<div class="col-sm-2">May 2016</div>
<div class="col-sm-5">fluidity of Duolingo in English: Intermediate (estimated)</div>
</div>
<div class="row">
<div class="col-sm-5">Development in HTML5, CSS and Javascript WebApps, incl. FirefoxOS mobile 4ta edition by Complutense University of Madrid</div>
<div class="col-sm-2">APRIL 2015</div>
<div class="col-sm-5"><a href="https://miriadax.net/files/10132/badge/4cd2c1eb-d47b-4b47-bb33-43c50413c559.pdf">Certificate</a></div>
</div>
<div class="row">
<div class="col-sm-5">Development in HTML5, CSS and Javascript Web Apps, Android, IOS 6ta edition</div>
<div class="col-sm-2">September 2016</div>
<div class="col-sm-5">Complutense University of Madrid</div>
</div>

<div class="row">
<div class="col-sm-5">Development of services in the cloud with HTML5, Javascript and node.js</div>
<div class="col-sm-2">May 2015</div>
<div class="col-sm-5">Complutense University of Madrid</div>
</div>

<div class="row">
  
<h4 class="text-center">Volunteer Experience</h4> <hr>
  <ul>
  <li>Collaborator in Latin American Festival of Install Software Libre since april 2016 - Present</li>
  <li>Collaborator in Mozillians of Venezuela since Apri 2015 - Present</li>
  </ul>
</div>

    <div class="row">
      
    <h4 class="text-center">Project</h4> <hr>
      <ul>
      <li>Mercadopulgas.com.ve since november of 2015 to present Description: Website in which your users can buy and sell new and used articles and also you can
    have your virtual store Url: <a href="http://www.mercadopulgas.com.ve">www.mercadopulgas.com.ve</a> Usage Technologies: YiiFramework v2, Bootstrap Css, Jquery</li>
      <li>Facesex Venezuela march 2012 Description: Social Network, Virtual Store and forum for adults where the main topic is the sexuality and the couple.
       Usage Technologies: SocialEngine v4, Bootstrap Css, Jquery 
      </li>
      <li>GenAdShare since march 2016 to present Description: Site investment and profit sharing.
       Usage Technologies: Entorno Laravel 5, Apache, Php5, Template: Admin-LTE, Bootstrap, Jquery 
       Url: <a href="http://www.genadshare.com">www.genadshare.com</a>
      </li>
        <li>Dailybitspro.com since march 2016 to present Description: Site investment and profit sharing. UnderConstruction
       Usage Technologies: Entorno Laravel 5, Apache, Php5, Template: Admin-LTE, Bootstrap, Jquery, ApirestFul, AngularJs
       Url: <a href="http://www.dailybitspro.com">www.dailybitspro.com</a>
      </li>
      </ul>
    </div>

<div class="row">
  <h4 class="text-center">Work Experience</h4> <hr>
    <ul>
    <li>Full Stack Developer in Gen Ads Share March 2016 - Today (7 months) Ciudad en Campeche, México - Online</li>
    <li>Full Stack Developer CEO in Oteroweb.com.ve June de 2016 – Today (4 Month)  </li>
    <li> 
  Junior Developer in A.H. Studio S.A.S.FEBRUARY 2014 - September 2015 (1 year 8 months) Bogota DC, Colombia - Online
    </li>

      <li>
  Technical Trainer in Valun2000 CA October 2008 - December 2010 (2 years 3 months)
       </li>
      <li>
  Technical Trainer en Otersoc. C.A. January de 2005 - agosto de 2007 (2 years 8 months)
       </li>
    </ul>
</div>
Instructor Tecnico En cursos Cortos Basicos (4 Semanas) y Avanzado (6 semanas)
Programas de Ofimatica Word, Excel PowerPoint
Reparacion y mantenimiento de Computadoras
Basico y avanzado en Programas de edicion de Fotos Photoshop
Basico y avanzado de Programas de Edicion de Vectores (illustrator y CorelDraw)
Technical Instructor short courses Basics (4 weeks ) and Advanced (6 weeks)
Microsoft Office ( Word , Excel, PowerPoint)
Repair and maintenance of computers
Basic and advanced photo editing software Photoshop
Basic and advanced editing programs Vectors ( Illustrator and CorelDraw )

<div class="row">
  <h4 class="text-center">Skills</h4> <hr>
  <h5 class="text-center mayus">Advanced Level</h5> <hr>
    <div class="col-sm-2">Yii</div>
    <div class="col-sm-2">Laravel</div>
    <div class="col-sm-2">Zend</div>
    <div class="col-sm-2">CakePhp</div>
    <div class="col-sm-2">CodeIgniter</div>
    <div class="col-sm-2">Symfony</div>
    <div class="col-sm-2">Kohana</div>
    <div class="col-sm-2">Kumbia</div>
    <div class="col-sm-2">Slim</div>
    <div class="col-sm-2">Silex</div>
    <div class="col-sm-2">Lumen</div>
    <div class="col-sm-2">MicroMvc</div>
    <div class="col-sm-2">Fatfree</div>
    <div class="col-sm-2">Phalcon </div>
    <div class="col-sm-2">phpMini</div>
    <div class="col-sm-2">FuelPhp</div>
    <div class="col-sm-2">Bootstrap </div>
    <div class="col-sm-2">Materialize </div>
    <div class="col-sm-2">Foundation </div>
    <div class="col-sm-2">Spectre </div>
    <div class="col-sm-2">960grid </div>
    <div class="col-sm-2">Morriscss </div>
    <div class="col-sm-2">Skeleton  </div>
    <div class="col-sm-2">EDGRid </div>
    <div class="col-sm-2">1140grid </div>
    <div class="col-sm-2">960grid </div>
    <div class="col-sm-2">YAML </div>
    <div class="col-sm-2">SemanticIU </div>
    <div class="col-sm-2">UIKIT </div>
    <div class="col-sm-2">BluePrint </div>
    <div class="col-sm-2">BoilerPLate </div>
    <div class="col-sm-2">Unsematic </div>
    <div class="col-sm-2">Wordpress </div>
    <div class="col-sm-2">Joomla </div>
    <div class="col-sm-2">Drupal </div>
    <div class="col-sm-2">Prestashop </div>
    <div class="col-sm-2">Opencart </div>
    <div class="col-sm-2">Microsoft Office</div>
    <div class="col-sm-2">Corel Draw </div>
    <div class="col-sm-4">Pattern Http-Request </div>
    <div class="col-sm-2">Pattern Mvc </div>
    <div class="col-sm-2">Template Twig </div>
    <div class="col-sm-2">Template Blade </div>
  </div>

<div class="row">
  <h5 class="text-center mayus">intermediate Level</h5> <hr>
    <div class="col-sm-2">phpBB  </div>
    <div class="col-sm-2">SMF </div>
    <div class="col-sm-2">MyBB </div>
    <div class="col-sm-2">AEF </div>
    <div class="col-sm-2">Vanilla </div>
    <div class="col-sm-2">PunBB </div>
    <div class="col-sm-2">MediaWiki </div>
    <div class="col-sm-2">Docuwiki </div>
    <div class="col-sm-2">phpFox </div>
    <div class="col-sm-2">SocialEngine </div>
    <div class="col-sm-2">Jcow </div>
    <div class="col-sm-2">Elgg </div>
    <div class="col-sm-2">Dolphin </div>
    <div class="col-sm-2">Oxwall </div>
    <div class="col-sm-2">Buddypress </div>
    <div class="col-sm-2">JomSocial </div>
    <div class="col-sm-2">Aftereffect </div>
    <div class="col-sm-2">Audacity </div>
    <div class="col-sm-2">VisualBasic </div>
    <div class="col-sm-2">webservices </div>
    <div class="col-sm-2">Jquery </div>
    <div class="col-sm-2">AngularJs </div>
    <div class="col-sm-2">Agil </div>
    <div class="col-sm-2">Scrum </div>
    <div class="col-sm-2">POO </div>
    <div class="col-sm-2">SEO </div>
    <div class="col-sm-2">APIRestFul </div>
    <div class="col-sm-2">PluginWordpress </div>
    <div class="col-sm-2">Apache </div>
    <div class="col-sm-2">Nginx </div>
    <div class="col-sm-2">VPS  </div>
    <div class="col-sm-2">Linux Server CentOS </div>
    <div class="col-sm-2">Debian </div>
    <div class="col-sm-2">DigitalOcean </div>
    <div class="col-sm-2">Mysql </div>
    <div class="col-sm-2">PostgreSql </div>
    <div class="col-sm-2">Redis </div>
    <div class="col-sm-2">SqLite </div>
    <div class="col-sm-2">MongoDB </div>
    <div class="col-sm-2">GIT </div>
    <div class="col-sm-2">Mercurial </div>
    <div class="col-sm-2">SVN </div>
    <div class="col-sm-2"> PhpNuke </div>
    <div class="col-sm-2"> CMS Made Simple </div>
    <div class="col-sm-2"> Magento </div>
    <div class="col-sm-2"> WooCommerce </div>
    <div class="col-sm-2"> drupal ubercart  </div>
    <div class="col-sm-2"> drupal commerce  </div>
    <div class="col-sm-2"> TomatoCart  </div>
    <div class="col-sm-2"> Open Source Pos </div>
    <div class="col-sm-2"> API PAypal </div>
    <div class="col-sm-2"> API Mercadopago </div>
    <div class="col-sm-2"> API Bitcoin </div>
    <div class="col-sm-2"> API Facebook </div>
    <div class="col-sm-2"> API Twitter </div>
    <div class="col-sm-2"> API Google Maps </div>
    <div class="col-sm-2"> API BingMaps </div>
    <div class="col-sm-2"> API gmail </div>
    <div class="col-sm-2"> API youtube </div>
    <div class="col-sm-2"> Photoshop </div>
    <div class="col-sm-2">Doctrine </div>
    <div class="col-sm-2">ActiveRecord </div>
  </div>







<div class="row">
  
<h5 class="text-center mayus">Basic Level</h5> <hr>
<div class="col-sm-2">eshop</div>
<div class="col-sm-2">j2store</div>
<div class="col-sm-2">AbanteCart</div>
<div class="col-sm-2">WHMCS</div>
<div class="col-sm-2">CubeCart</div>
<div class="col-sm-2">osCommerce</div>
<div class="col-sm-2">Open eShop</div>
<div class="col-sm-2">Loaded Commerce </div>
<div class="col-sm-2">Zen Cart </div>
<div class="col-sm-2">TheHostingTool </div>
<div class="col-sm-2">BoxBilling </div>
<div class="col-sm-2">Avactis </div>
<div class="col-sm-2">LiteCart </div>
<div class="col-sm-2">Quick.Cart </div>
<div class="col-sm-2">X-Cart </div>
<div class="col-sm-2">SimpleInvoices </div>
<div class="col-sm-2">AlegroCart </div>
<div class="col-sm-2">Blesta </div>
<div class="col-sm-2">Axis </div>
<div class="col-sm-2">phpCOIN </div>
<div class="col-sm-2">OverviewDemo </div>
<div class="col-sm-2">Zeuscart </div>
<div class="col-sm-2">Shopify.</div>
<div class="col-sm-2">Moodle</div>
<div class="col-sm-2">OpenClassifieds</div>
<div class="col-sm-2">Prosper202</div>
<div class="col-sm-2">OSClass</div>
<div class="col-sm-2">Revive</div>
<div class="col-sm-2">Adserver</div>
<div class="col-sm-2">GPixPixel</div>
<div class="col-sm-2">Noah</div>
<div class="col-sm-2">Roundcube </div>
<div class="col-sm-2">phpList</div>
<div class="col-sm-2">WebMail Lite</div>
<div class="col-sm-2">SquirrelMail</div>
<div class="col-sm-2">ownCloud</div>
<div class="col-sm-2">ProjectSend</div>
<div class="col-sm-2">PHPfileNavigator</div>
<div class="col-sm-2">Pydio</div>
<div class="col-sm-2">eXtplorer</div>
<div class="col-sm-2">Arfooo</div>
<div class="col-sm-2">LetoDMS</div>
<div class="col-sm-2">OpenDocMan</div>
<div class="col-sm-2">Monsta FTP</div>
<div class="col-sm-2">LESS</div>
<div class="col-sm-2">SASS</div>
<div class="col-sm-2">Jade</div>
<div class="col-sm-2">Php unit</div>
<div class="col-sm-2">OsTicket</div>
<div class="col-sm-2">HelpDeskpZ</div>
<div class="col-sm-2">phplive</div>
<div class="col-sm-2">Livezilla</div>
<div class="col-sm-2">phpOnline</div>
<div class="col-sm-2">Vue.js</div>
<div class="col-sm-2">Vulcan</div>
<div class="col-sm-2">React.js</div>
<div class="col-sm-2">NodeJs</div>
<div class="col-sm-2">Meteor</div>
<div class="col-sm-2">emberjs</div>
<div class="col-sm-2">Knockout</div>
<div class="col-sm-2">Backbone</div>
<div class="col-sm-2">MEANJS</div>
<div class="col-sm-2">VanillaJs</div>
</div>


</div>








    <div class="col-sm-2 whitetext aboutme consolas ">
      Personal data: <br>
      Names: Jose Luis <br>
      Lastname: Otero López <br>
C.I.V: 19.708.951 <br>
Nationality: Venezuelan <br> 
Marital status: Single <br>
Age: 26 years <br>
Date of birth:
03 January of 1990 <br>
Phones: 
+58 0416 752 87 72 <br>
<br><br>
About Me:<br><br>
Since 2008, I work as a developer with a wide experience in different frameworks PHP, as well as solid knowledge also in languages like Python, Ruby, additionally handling libraries of HTML5/CSS3 and Javascript, this has made me in Full Stack developer. I`m always in constant learning. I think that one day without learning something new is a day wasted, this brings me to each day have new challenges. I have flexibility in my work, I have learned over the years that there is more than one correct way to complete an objective, I always look through the adaptability to achieve my goals in the most efficient way. Crazy in Love of the technologies, i enjoy the good practices, agile methodologies and design patterns in applications, I have as an objective the development of sites with a clean structure, with a semantics correct. I like to travel. I enjoy the contact with nature.<br><br>

Working as a Freelance gives me the possibility that a new job is a new enriching experience and at times a challenge that I will grow up as a person and as a professional. <br><br><br>

My passions are to explore and investigate new areas. For me it is exciting the know of a new language or library.<br><br>

My most recents works are:<br>
Developing Using Frameworks PHP: Yii Framework, Laravel, Symfony.
Development of ApiRest Ful with authentication by token.
Also developing and adapting for Wordpress themes.<br><br>

My Phrase: "A day without learning something new is a lost day. Fork of Charlie Chaplin: "A day without laughter is a day wasted"<br><br>
</div>
  </div>     

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="angular-translate.min.js"></script>
<script>
angular.module('app', ['pascalprecht.translate'])
.config(['$translateProvider', function($translateProvider){
  $translateProvider.translations('en_US', {
    "TITLE"     : "Jose Luis Otero Curriculum Vitae",
    "HEADER"    : "CURRICULUM VITAE",
  });
  $translateProvider.translations('es_ES', 
  {
    "TITLE"     : "Resumen Curricular Jose Luis Otero",
    "HEADER"    : "Resumen Curricular",
  }
  );
  $translateProvider.preferredLanguage('en_US');
}])
.controller('ctrl', ['$scope', '$translate', function($scope, $translate) {
  $scope.setLang = function(langKey) {
    $translate.use(langKey);
  };
}]);
</script>
  </body>
</html>